COMPOSE_PROJECT_NAME=people-counter-local
PEOPLE_COUNTER_IMAGE=people-counter-spark:4.1.1-delta4.2.0
PEOPLE_COUNTER_RELEASE_DIGEST=development
PEOPLE_COUNTER_IMAGE_DIGEST=local-build
SPARK_MASTER_UI_PORT=8080
SPARK_WORKER_1_UI_PORT=8081
SPARK_WORKER_2_UI_PORT=8082
SPARK_DRIVER_UI_PORT=4040
SPARK_HISTORY_UI_PORT=18080
